<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="./lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="./main.js"></script>
        <script src="./app.js"></script>
        <script src="./app.service.js"></script>
        <script src="./src/cart/icon-basket.directive.js"></script>
        <script src="./src/cart/icon-products.directive.js"></script>
        <script src="./src/cart/icon-product.directive.js"></script>
        <script src="app.config.js"></script>
        <script src="./src/products/products.controller.js"></script>
        <script src="./src/products/product.controller.js"></script>
        <script src="./src/products/products.component.js"></script>
        <script src="./src/products/productOne.component.js"></script>

       
    </head>
    <body>
        <div>
                <a ui-sref="products">Products</a>  
                <ui-view></ui-view>
        </div>
        <div>    
        </div>
        <div>
            <icon-basket>
            </icon-basket>
        </div>
        <div ng-init = "text = 'Hosting max'">
            {{text}}
        </div>
                <input ng-model="searchList" type="text" name="name">                    
            </div>
            <div>
                <ul>
                    <li ng-repeat="li in names | filter:searchList">{{li}}</li>
                </ul>     
        </div>
        <input type="text" ng-model="fname">
        <div ng-controller="nameController as settings">
            <input type="button" ng-click = "settings.addName(fname)" value="go">   
             <ul>
                <li ng-repeat  ="li in settings.names track by $index"  >{{li}}</li>     
            </ul>
        </div>
       
    </body>
</html>
